adjusttext
annoy
bbknn
bs4
ctxcore
Cython
gensim
harmonypy
#igv_jupyterlab
ipykernel
ipympl
ipython
lda
leidenalg
loompy
loomxpy
lxml
MACS2
matplotlib
nbsphinx
nbsphinx_link
networkx
numba
numpy
numpydoc
pandas
papermill
polars
pybedtools
pyBigWig
pybiomart
pyfasta
pyopenssl
pyranges
pyscenic
python-igraph
python-Levenshtein
ray[default]
scanorama
scanpy
scikit-learn
scipy
scrublet
seaborn
sphinx_rtd_theme
statsmodels
tables
tmtoolkit
tspex
typing
umap-learn
xlrd
papermill
#igv_jupyterlab
bs4
MACS2
lxml
tspex
polars
pyscenic@git+https://github.com/aertslab/pySCENIC@master
loomxpy@git+https://github.com/aertslab/LoomXpy@main
scatac_fragment_tools
sphinx_rtd_theme
nbsphinx
nbsphinx_link
numpydoc
